{% extends "blog/base.html" %}

{% block content %}
    <form action="" method="post">
    {% csrf_token %}
    <p>あなたにぴったりなメニューの選び方を提案します。(北一食堂)<br>
    金額と品数（１〜１０）を設定してください。</p>

        <label>合計金額を設定:<input type="number"  name="wan" required></label>
        <label>品数を設定:<input type="number"  name="tu" required></label>
        <input type="submit" value="送信">
        
    </form>
  
  
        {{ yon }}<br>
     {{go}}<br>
    <div>
    <br>
    麺類（418円）→肉うどん、肉そば<br>
    大皿or麺類（330円）→チキンカツ、ステーキハンバーグ、グリルチキン、天ぷらうどん、天ぷらそば<br>
    大皿（308円）→鳥ポン唐揚げ、秋鮭フライ、野菜炒め<br>
    麺類orスイーツ（275円）→きつねうどん、きつねそば、ダブルベリータルト、白桃のタルト、ショートケーキ、チーズケーキ、ティラミス<br>
    スープorスイーツ（154円）→カレースープ、エクレア<br>
    小鉢orスイーツ（121円）→フルーツヨーグルト、ナタデココ<br>
    大皿（260円）→鯖の塩焼き、チキン竜田、中華うま煮<br>
    麺類（231円）→かけうどん、かけそば<br>
    小鉢（110円）→じゃがバター、サンマのみぞれ煮,オクラと長芋のネバネバサラダ<br>
    小鉢（88円）→明太ゴボウサラダ、ひじき煮、蓮根金平、菠薐草、菠薐草の白和え、巣篭もり卵、卵焼き、かぼちゃ煮、春雨サラダ<br>
    小鉢orスイーツ（99円）→エビとブロッコリーのサラダ、野菜の炊き合わせ、大学芋、シュークリーム<br>
  
    

    

　　　



    </dev>   
  
{% endblock %}